<template name="managements">

	<div class="pdlr15 pdtb30">
		<h3 class="nmg">管理</h3>
	</div>

	<div class="pd15">
		{{> backend-managements-nav}}
	</div>

</template>

<template name="backend-managements-nav">

	<ul class="nav nav-tabs">
		<li class="{{activeFor 'managements'}}">
			<a href="{{pathFor 'managements'}}">管理</a>
		</li>
		<li class="{{activeFor 'postsManagement'}}">
			<a href="{{pathFor 'postsManagement'}}">内容</a>
		</li>
		<li class="{{activeFor 'usersManagement'}}">
			<a href="{{pathFor 'usersManagement'}}">
				用户 <sup>{{system.stats.users}}</sup>
			</a>
		</li>
	</ul>

</template>
